<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
</head>
<body>
    <h2>Error</h2>
    <! –– The below style treats /n as linebreak.
        To also consider /t as tabs, use pre-wrap insted of pre-line.
        Do not move content to a new line as these line breaks will also be considered in the output. ––>
    <span style="white-space: pre-line">{{error}}</span>
    <h2>Callstack</h2>
    <span style="white-space: pre-line">{{callstack}}</span>
</body>
</html>