@model gangulaabhinav.Models.HomeModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["Name"] = "Abhinav Gangula";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var link in Model.GetListOfLinks())
    {
        <p><a href=@link.Url>@link.Name</a></p>
    }
</div>
