extends layout

block content
  h1 Welcome
  a(href="https://www.linkedin.com/in/abhinav-gangula-b0872462/" target="_blank") LinkedIn
  br
  a(href="https://github.com/gangulaabhinav" target="_blank") GitHub
  br
  a(href="https://www.facebook.com/agangula" target="_blank") Facebook
  br
  a(href="https://www.zomato.com/agangula" target="_blank") Zomato
  br
  a(href="https://www.imdb.com/user/ur50420048/?ref_=nv_usr_prof_2" target="_blank") IMDb
